<html>
<head>
<title>Website Contact Receipt</title>
</head>
<body style="background-color: #eee; margin: 0; padding: 0; font-family: sans-serif;">
	
	<div style="margin: 20px auto; padding: 10px; width: 600px; font-family: sans-serif; background-color: #fff; border: 2px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
		
		<h1 style="font-size: 28px; line-height: 35px; border-bottom: 1px solid #eee; font-weight: normal; color: #333;">Website Contact Form Submission</h1>
		<p style="font-size: 14px; line-height: 20px;">Dear Website Owner,<br />
		A contact message has just been submitted on your website...</p>
		
		<table cellpadding="4" cellspacing="0" border="0" style="font-size: 11px; line-height: 16px; width: 580px; margin: 10px; border-collapse: collapse; background-color: #eee; border-radius: 5px; box-shadow: 1px 1px 4px rgba(0,0,0,0.5) inset;">
			<tr>
				<th style="text-align: right; width: 150px; vertical-align: middle;">Date/Time</th>
				<td><?php echo date("l jS F Y H:i"); ?></td>
			</tr>
			<tr>
				<th style="text-align: right; width: 150px; vertical-align: middle;">Remote IP</th>
				<td><?php echo isset($_SERVER['REMOTE_ADDR']) ? $_SERVER['REMOTE_ADDR'] : 'Not Known'; ?></td>
			</tr>
			<tr>
				<th style="text-align: right; width: 150px; vertical-align: middle;">Name</th>
				<td><?php echo isset($this->fromName) ? $this->escapeHtml($this->fromName) : 'Not Provided'; ?></td>
			</tr>
			<tr>
				<th style="text-align: right; width: 150px; vertical-align: middle;">Email</th>
				<td><?php echo isset($this->email) ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->email),$this->escapeHtml($this->email)) : 'Not Provided'; ?></td>
			</tr>
			<tr>
				<th style="text-align: right; width: 150px; vertical-align: top;">Message</th>
				<td><?php echo isset($this->message) ? sprintf('<pre>%s</pre>', $this->escapeHtml($this->message)) : 'Not Provided'; ?></td>
			</tr>
		</table>
		
		<p style="font-size: 14px; line-height: 20px;"><em>Kind Regards<br /><br />
		Your amazing website...</em></p>
		
	</div>
	
</body>
</html>
