<html>
<head>
<title>Website Contact Receipt</title>
</head>
<body style="background-color: #eee; margin: 0; padding: 0; font-family: sans-serif;">
	
	<div style="margin: 20px auto; padding: 10px; width: 600px; font-family: sans-serif; background-color: #fff; border: 2px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
		<h1 style="font-size: 28px; line-height: 35px; border-bottom: 1px solid #eee; font-weight: normal; color: #333;">Thank you for your message!</h1>
		<p style="font-size: 14px; line-height: 20px;">Dear <?php echo isset($this->fromName) ? $this->escapeHtml($this->fromName) : 'Visitor'; ?>,<br />
		Thank you for your message. This is an automated recipt of your enquiry submitted via our website, just letting you know that your message has been
		dispatched to us and we will respond as soon as we can.</p>
		
		<p style="font-size: 14px; line-height: 20px;"><em>Kind Regards<br /><br />
		Some Great Company</em></p>
		
	</div>
	
</body>
</html>
